*{
    margin: 0;
    padding: 0;
}
header{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
header>ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 20px;
}
header>ul>li>a{
    color: white;
    text-decoration: none;
}
header>ul>li:last-child{
    border: 1px solid white;
    padding: 5px;
}
body{
    background-color: hsl(47, 88%, 63%);
    margin: auto;
}
main{
    background-color: hsl(0, 0%, 100%);
    margin: auto;
    width: 30%;
}